.custom-button {
    width: 18rem; /* Adjust according to your design */
    padding: 1.2rem;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    background-color: #EDEDED;
    border: 0;
    border-radius: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.02em;
    cursor: pointer;
}

/* Media query for adjusting styles on smaller screens */
@media only screen and (max-width: 600px) {
    .custom-button {
        font-size: 1.2rem; /* Adjust font-size for smaller screens */
    }
}
